# Lab | Matplotlib & Seaborn

#### Import all the necessary libraries here:

In [1]:
# Libraries
import pandas as pd
import numpy as np
import pylab as plt 
import seaborn as sns
import warnings
import matplotlib as plt


#Configuraci√≥n
warnings.simplefilter('ignore')
plt.rcParams['figure.figsize'] = (12, 4)
%matplotlib inline

## Challenge 
#### Import the `Fitbit2` dataset and store it in a variable called `fitbit`. You can find the dataset in Ironhack's database:
* db: `fitbit`
* table: `fitbit2`

In [2]:
fitbit = pd.read_csv('../data/Fitbit2.csv')
fitbit

,Date,Calorie burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,...,Distance_miles,Days,Days_encoded,Work_or_Weekend,Hours Sleep,Sleep efficiency,Yesterday_sleep,Yesterday_sleep_efficiency,Months,Months_encoded
0,2015-05-08,1934,905,0.65,0,1.355,46,0,0,1680,...,0.403891,Friday,4.0,1,6.400000,92.086331,0.000000,0.000000,May,5
1,2015-05-09,3631,18925,14.11,4,611.000,316,61,60,2248,...,8.767545,Saturday,5.0,0,7.566667,92.464358,6.400000,92.086331,May,5
2,2015-05-10,3204,14228,10.57,1,602.000,226,14,77,1719,...,6.567891,Sunday,6.0,0,6.450000,88.761468,7.566667,92.464358,May,5
3,2015-05-11,2673,6756,5.02,8,749.000,190,23,4,9620,...,3.119282,Monday,0.0,1,5.183333,88.857143,6.450000,88.761468,May,5
4,2015-05-12,2495,502,3.73,1,876.000,171,0,0,7360,...,2.317714,Tuesday,1.0,1,6.783333,82.892057,5.183333,88.857143,May,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,2016-05-03,3796,18588,14.13,16,599.000,275,49,79,236,...,8.779972,Tuesday,1.0,1,6.283333,91.951220,5.233333,90.229885,May,5
363,2016-05-04,3525,16382,12.39,16,684.000,333,10,55,2075,...,7.698787,Wednesday,2.0,1,6.766667,95.081967,6.283333,91.951220,May,5
364,2016-05-05,3649,21913,16.40,19,701.000,287,29,90,2249,...,10.190484,Thursday,3.0,1,4.666667,88.888889,6.766667,95.081967,May,5
365,2016-05-06,3539,19023,14.79,15,575.000,298,8,85,2112,...,9.190077,Friday,4.0,1,6.166667,89.805825,4.666667,88.888889,May,5
366,2016-05-07,304,9526,7.08,2,564.000,370,13,10,1604,...,4.399307,Saturday,5.0,0,8.366667,89.165187,6.166667,89.805825,May,5

#### From the Fitbit data, we want to visually understand:

How the average number of steps change by month. Use the appropriate visualization to show the median steps by month. Is Fitbitter more active on weekend or workdays?
**Hints**:

* Use Months_encoded and Week_or Weekend columns.
* Use matplolib.pyplot object oriented API.
* Set your size figure to 12,4
* Explore plt.sca
* Explore plt.xticks
* Save your figures in a folder called `figures` in your repo.

In [3]:
# AVERAGE STEPS BY MONTH_ENCODED

'''import matplotlib.pyplot as plt

# Agrupar por la media de pasos por mes
steps_by_month_mean = fitbit.groupby('Months_encoded')['Steps'].mean()

# Calcular la mediana de pasos por mes
steps_by_month_median = fitbit.groupby('Months_encoded')['Steps'].median()

# Crear el gr√°fico de barras de la media de pasos por mes 
steps_by_month_mean.plot(kind='bar')

# Obtener el √≠ndice correspondiente a la mediana de pasos por mes
median_index = steps_by_month_mean.index[steps_by_month_mean == steps_by_month_median]

# Agregar una l√≠nea horizontal correspondiente a la mediana de pasos por mes
plt.axhline(y=steps_by_month_median, color='b', linestyle='-')

# Agregar un punto para resaltar la mediana de pasos por mes
plt.plot(median_index, steps_by_month_median, 'bo', markersize=8)

# Guardar el gr√°fico como imagen
plt.savefig('../figures/1.steps_by_month.png')'''

"import matplotlib.pyplot as plt\n\n# Agrupar por la media de pasos por mes\nsteps_by_month_mean = fitbit.groupby('Months_encoded')['Steps'].mean()\n\n# Calcular la mediana de pasos por mes\nsteps_by_month_median = fitbit.groupby('Months_encoded')['Steps'].median()\n\n# Crear el gr√°fico de barras de la media de pasos por mes \nsteps_by_month_mean.plot(kind='bar')\n\n# Obtener el √≠ndice correspondiente a la mediana de pasos por mes\nmedian_index = steps_by_month_mean.index[steps_by_month_mean == steps_by_month_median]\n\n# Agregar una l√≠nea horizontal correspondiente a la mediana de pasos por mes\nplt.axhline(y=steps_by_month_median, color='b', linestyle='-')\n\n# Agregar un punto para resaltar la mediana de pasos por mes\nplt.plot(median_index, steps_by_month_median, 'bo', markersize=8)\n\n# Guardar el gr√°fico como imagen\nplt.savefig('../figures/1.steps_by_month.png')"

In [4]:
# AVERAGE STEPS BY WORK_OR_WEEKEND
# your code here

#### Write a loop to plot 3 scatter plots of the following features:

* Minutes Lightly Active vs Steps    
* Minutes Very Active vs Steps    
* Minutes Sedentary vs Steps

In [5]:
features = ['Minutes Lightly Active', 'Minutes Very Active', 'Minutes Sedentary']

for feature in features:
    plt.figure()
    plt.scatter(fitbit[feature], fitbit['Steps'])
    plt.xlabel(feature)
    plt.ylabel('Steps')
    plt.title(f'Scatter vs Steps')
    plt.savefig('../figures/2.figures_vs_Steps.png')

# Show the plots
plt.show()

TypeError: 'module' object is not callable

## Challenge 

#### Import the `titanic` dataset and store it in a variable called `titanic`. You can find the dataset in Ironhack's database:
* db: `titanic`
* table: `titanic`

In [ ]:
titanic = pd.read_csv('../data/titanic.csv')
titanic

#### Explore the titanic dataset using Pandas dtypes.

In [ ]:
titanic.dtypes

#### What are your numerical variables? What are your categorical variables?
**Hint**: Use Pandas select_dtypes.

In [ ]:
# NUMERICAL VARIABLES

titanic.select_dtypes(include=['int', 'float'])

In [ ]:
# CATEGORICAL VARIABLES

titanic.select_dtypes(include=['object'])

#### Set the plot style to classic and the figure size to (12,6).
**Hint**: To set the style you can use matplotlib or seaborn functions. Do some research on the matter.

In [ ]:
plt.style.use('classic')

fig, ax = plt.subplots(figsize=(12, 6))

#### Use the right visulalization to show the distribution of column `Age`.

In [ ]:

plt.hist(titanic['Age'], bins=10, edgecolor='black')

plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Distribution of Age')

plt.show()

#### Use subplots and plot the distribution of the `Age`  with bins equal to 10, 20 and 50.

In [ ]:
# your code here

#### How does the bin size affect your plot?

In [ ]:
"""
your comments here
"""

#### Use seaborn to show the distribution of column `Age`.

In [ ]:
# your code here

#### Use the right plot to visualize column `Gender`. There are 2 ways of doing it. Do it both ways.
**Hint**: Use matplotlib and seaborn.

In [ ]:
# Method 1 - matplotlib
# your code here

In [ ]:
# Method 2 - seaborn
# your code here

#### Use the right plot to visualize the column `Pclass`.

In [ ]:
# your code here

#### We would like to have in one single plot the summary statistics of the feature `Age`. What kind of plot would you use? Plot it.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### What does the last plot tell you about the feature `Age`?

In [ ]:
"""
your comments here
"""

#### Now in addition to the summary statistics, we want to have in the same plot the distribution of `Age`. What kind of plot would you use? Plot it.

In [ ]:
# your code here

#### What additional information does the last plot provide about feature `Age`?

In [ ]:
"""
your comments here
"""

#### We suspect that there is a linear relationship between `Fare` and `Age`. Use the right plot to show the relationship between these 2 features. There are 2 ways, please do it both ways.
**Hint**: Use matplotlib and seaborn.

In [ ]:
# Method 1 - matplotlib
# your code here

In [ ]:
# Method 2 - seaborn
# your code here

#### Plot the correlation matrix using seaborn.

In [ ]:
# your code here

#### What are the most correlated features?

In [ ]:
"""
your comments here
"""

#### Use the most appropriate plot to display the summary statistics of `Age` depending on `Pclass`.

In [ ]:
# your code here

#### Use seaborn to plot the distribution of `Age` based on the `Gender`.
**Hint**: Use Facetgrid.

In [ ]:
# your code here